= form_for @incident, remote: true do |f|
  - if params[:action]== "new"
    = f.hidden_field :latitude
    = f.hidden_field :longitude
  %p
    = f.label  :mountain
    = f.text_field :mountain
  %p
    = f.label  :when
    = f.datetime_select :when
  %p
    = f.label  :title
    = f.text_field :title
  %p
    = f.label  :description
    %br/
    = f.text_area :description, rows: 3
  %p
    = f.submit @incident.new_record? ? "Create" : "Update"

