%p#notice= notice
%p
  %strong Mountain:
  = @incident.mountain
%p
  %strong Latitude:
  = @incident.latitude
%p
  %strong Longitude:
  = @incident.longitude
%p
  %strong When:
  = @incident.when
%p
  %strong Title:
  = @incident.title
%p
  %strong Description:
  = @incident.description
= render partial: "map", locals: {data: "#{@incident.id}.xml"}
= link_to 'Edit', edit_incident_path(@incident), remote: true
|
\#{link_to 'Back', incident_path, remote: true}
